.form-control {
  background: var(--five-color) !important;
  border: 1px solid var(--second-color) !important;
  border-radius: 8px !important;
}

.form-control:focus {
  border: 1px solid var(--second-color) !important;
  box-shadow: none !important ;
}
